<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.DepotInventoryCheckMapper">
    <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.system.DepotInventoryCheckTest">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="SOURCE_USER" property="sourceUser" jdbcType="VARCHAR"/>
        <result column="SOURCE_TIME" property="sourceTime" jdbcType="VARCHAR"/>
        <result column="RECORD_NUMBER" property="recordNumber" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="INTEGER"/>
    </resultMap>

    <!--将数据库里所有字段打包好，嵌入下列的sql语句中-->
    <sql id="Base_Column_List">
        ID,SOURCE_USER,SOURCE_TIME,RECORD_NUMBER,STATE
    </sql>
    <!--获取id-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_depot_inventory_check t
        WHERE t.ID=#{id}
    </select>
    <!--添加-->
    <insert id="insert" parameterType="com.gameloft9.demo.dataaccess.model.system.DepotInventoryCheckTest">
        INSERT INTO t_depot_inventory_check(ID,SOURCE_USER,SOURCE_TIME,RECORD_NUMBER,STATE)
        VALUES (#{id},#{sourceUser},#{sourceTime},#{recordNumber},#{state})
    </insert>
    <!--删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM t_depot_inventory_check
        WHERE ID = #{id}
    </delete>
    <!--修改-->
    <update id="update" parameterType="com.gameloft9.demo.dataaccess.model.system.DepotInventoryCheckTest">
        UPDATE t_depot_inventory_check
        SET SOURCE_USER=#{sourceUser},SOURCE_TIME=#{sourceTime},RECORD_NUMBER=#{recordNumber},
        STATE=#{state}
        WHERE ID = #{id}
    </update>
    <!--总条数查找所有-->
    <select id="countGetAll" resultType="int" parameterType="map">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Dec 04 11:17:05 CST 2017.
        -->
        select
        count(1)
        from t_depot_inventory_check t
        <where>
            <if test="id != null and id != ''">
                and t.ID = #{id}
            </if>
        </where>
    </select>
    <!--分页的查找所有-->
    <select id="selectAll" resultMap="BaseResultMap">
        select * from t_depot_inventory_check t
        <where>
            <if test="id != null and id != ''">
                and t.ID = #{id}
            </if>
        </where>
        order by t.id asc
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

</mapper>
