<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.SupplierMapper">
    <resultMap id="supplierMap" type="com.gameloft9.demo.dataaccess.model.system.Supplier">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_DESCRIBE" property="supplierDescribe" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <!--将数据库里所有字段打包好，嵌入下列的sql语句中-->
    <sql id="Base_Column_List">
        ID,SUPPLIER_NAME,SUPPLIER_DESCRIBE,PHONE
    </sql>
    <!--查找所有-->
    <select id="selectAll" resultMap="supplierMap">
        select * from t_supplier t
        <where>
            <if test="supplierName != null and supplierName !=''">
                and t.SUPPLIER_NAME = #{supplierName}
            </if>
        </where>
        order by t.id asc
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <!--总条数查找所有-->
    <select id="countGetAll" resultType="int" parameterType="map">
        select
        count(1)
        from
        t_supplier t
        <where>
            <if test="supplierName != null and supplierName !=''">
                and t.SUPPLIER_NAME = #{supplierName}
            </if>
        </where>
    </select>

    <!--获取id-->
    <select id="selectByPrimaryKey" resultMap="supplierMap" parameterType="java.lang.String">
        SELECT
            <include refid="Base_Column_List"/>
            FROM t_supplier t
        WHERE t.ID=#{id}
    </select>

    <!--添加-->
    <insert id="insert" parameterType="com.gameloft9.demo.dataaccess.model.system.Supplier">
        INSERT INTO
        t_supplier(ID,SUPPLIER_NAME,SUPPLIER_DESCRIBE,PHONE)
        VALUES
        #{id},#{supplierName},#{supplierDescribe},#{phone}
    </insert>

    <!--删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM
        t_supplier
        WHERE
        ID = #{id}
    </delete>

    <!--修改-->
    <update id="update" parameterType="com.gameloft9.demo.dataaccess.model.system.Supplier">
        UPDATE
        t_supplier
        SET
        SUPPLIER_NAME=#{suppliername},SUPPLIER_DESCRIBE=#{supplierdescribe},PHONE=#{phone}
        WHERE
        ID = #{id}
    </update>
</mapper>
