<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.SysInventoryOrderMapper">
    <!--仓库订单内容DepotOrder-->
    <resultMap id="OrderMap" type="com.gameloft9.demo.dataaccess.model.system.DepotOrderTest">
        <id property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="orderType" column="ORDER_TYPE" jdbcType="INTEGER"/>
        <result property="goodsId" column="GOODS_ID" jdbcType="VARCHAR"/>
        <result property="goodsNumber" column="GOODS_NUMBER" jdbcType="VARCHAR"/>
        <result property="applyUser" column="APPLY_USER" jdbcType="VARCHAR"/>
        <result property="applyTime" column="APPLY_TIME" jdbcType="DATE"/>
        <result property="state" column="STATE" jdbcType="VARCHAR"/>
        <result property="orderAuditUser" column="ORDER_AUDIT_USER" jdbcType="VARCHAR"/>
        <result property="orderAuditTime" column="ORDER_AUDIT_TIME" jdbcType="DATE"/>
        <result property="applyDescribe" column="APPLY_DESCRIBE" jdbcType="VARCHAR"/>
        <result property="auditDescribe" column="AUDIT_DESCRIBE" jdbcType="VARCHAR"/>
    </resultMap>

    <!--仓库库存订单内容DepotInventory-->
    <resultMap id="sysInventoryOrderMap" type="com.gameloft9.demo.dataaccess.model.system.SysInventoryOrder">
        <id property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="goodsType" column="GOODS_TYPE" jdbcType="INTEGER"/>
        <result property="goodsId" column="GOODS_ID" jdbcType="VARCHAR"/>
        <result property="goodsNumber" column="GOODS_NUMBER" jdbcType="VARCHAR"/>
        <result property="goodsDescribe" column="GOODS_DESCRIBE" jdbcType="VARCHAR"/>
    </resultMap>

    <!--数据字段打包-->
    <sql id="Base_Column_List">
        ID,GOODS_TYPE,GOODS_ID,GOODS_NUMBER,GOODS_DESCRIBE
    </sql>

    <!--仓库库存订单内容分页显示-->
    <select id="selectAll" resultMap="sysInventoryOrderMap">
        SELECT
            io.GOODS_TYPE,
            do.GOODS_ID,
            do.GOODS_NUMBER,
            io.GOODS_DESCRIBE
        FROM
            t_depot_order do,
            sys_inventory_order io
        <where>
            <if test="goodsId !=null and goodsId !=''">
                AND io.GOODS_ID=#{goodsId,jdbcType="VARCHAR"}
            </if>
                AND do.GOODS_ID = io.GOODS_ID
        </where>
            limit #{start,jdbcType=DECIMAL},#{end,jebcType=DECIMAL}
    </select>

    <!--获取总条数-->
    <select id="countGetAll" resultType="int" parameterType="map">
        SELECT
            count(1)
        FROM
            sys_depot_order
        <where>
            <if test="goodsId != null and goodsId != ''">
                and GOODS_ID =#{goodsId,jdbcType="VARCHAR"}
            </if>
        </where>
    </select>

    <!--获取id-->
    <select id="selectByPrimaryKey" resultMap="sysInventoryOrderMap" parameterType="java.lang.String">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            sys_inventory_order
        WHERE
            ID=#{id}
    </select>

    <!--添加-->
    <insert id="insert" parameterType="com.gameloft9.demo.dataaccess.model.system.SysInventoryOrder">
        INSERT INTO
            sys_inventory_order
            (ID,
            GOODS_TYPE,
            GOODS_ID,
            GOODS_NUMBER,
            GOODS_DESCRIBE)
        VALUES
            (#{id},
            #{goodsType},
            #{goodsId},
            #{goodsNumber},
            #{goodsDescribe})
    </insert>

    <!--删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE
        FROM
            sys_inventory_order
        WHERE
            ID=#{id}
    </delete>

    <!--修改-->
    <update id="update" parameterType="com.gameloft9.demo.dataaccess.model.system.SysInventoryOrder">
        UPDATE
            sys_inventory_order
        SET
            GOODS_TYPE=#{goodsType},
            GOODS_ID=#{goodsId},
            GOODS_NUMBER=#{goodsNumber},
            GOODS_DESCRIBE=#{goodsDescribe},
        WHERE
            ID=#{id}
    </update>

    <!--初始化货品名称下拉框-->
    <select id="getFirstClassListGoods" resultType="java.lang.String">
        SELECT DISTINCT
            GOODS_ID
        FROM
            sys_inventory_order
        WHERE
            ID=#{id}
        IS NOT NULL
    </select>

</mapper>